body {
    background-color: #050308;
    color: #de9ec0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
    margin: 30px;
    overflow-y: auto;
}

h1, h2, h3 {
    text-decoration: underline;
    color: #de9ec0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav {
    border: 3px solid #ff2e9f;
    padding: 10px;
    margin: 10px;
    background-image: url(../images/hearts.webp);
    background-position: center center;
    background-size: cover;
    background-size: 10%;
}

.nav a {
    color: #de9ec0;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0 5px;
    font: bolder;
}

.nav a:hover {
    color: #ff2e9f;
}

nav ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
    gap: 25px;
    justify-content: center;
}

a:link {
    color: #de9ec0;
}

a:visited {
    color: white;
}

a:hover {
    color: #ff2e9f;
}

.profile-photo img {
    border-radius: 50%;
    object-fit: cover;
    width: 350px;
    height: 350px;
    margin-top: 80px;
    margin-bottom: 30px;
    border: 2px solid #ff2e9f;
}

.outline-button {
    padding: 20px 30px;
    border: 2px solid #ff2e9f;
    color: #de9ec0;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
}

.about-me {
    margin-top: 20px;
    padding: 20px;
}

.about-container {
    margin: 0 auto;
    max-width: 1000px;
    overflow: auto;
    text-align: left;
    display: flex;
}

#about-photo {
    float: left;
    width: 300px;
    height: auto;
    margin-right: 30px;
    border: 3px solid #ff2e9f;
    border-radius: 8px;
    object-fit: cover;
}

.about-info {
    color: #de9ec0;
    line-height: 1.6;
    margin-top: 0;
}

.my-life-photos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
}

.photo-card img {
    margin-bottom: 10px;
    width: 220px;
    height: 160px;
    padding: 1px;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid #ff2e9f;
}

.photo-card:nth-child(2) {
    margin-top: 25px;
}

.photo-card:nth-child(3) {
    margin-top: -5px;
}

.photo-card:nth-child(4) {
    margin-top: -20px;
    margin-left: 30px;
}

.photo-card:nth-child(5) {
    margin-left: 40px;
}

.photo-card:nth-child(6) {
    margin-left: 10px;
    margin-top: -35px;
}

.photo-card:nth-child(7) {
    margin-top: -18px;
}

.photo-card:nth-child(8) {
    margin-left: 50px;
}

.interest-card h3 {
    padding-top: 15px;
}

.interest-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 980px;
    margin: auto;
    margin: 30px auto 0;
    background-color: #050308;
    margin-bottom: 10px;
}

.interest-card {
    border: 2px solid #ff2e9f;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.interests-page {
    margin-bottom: 100px;
}

.languages-section{
    text-align: center;
    margin-top: 100px;
}

.language {
    margin: 0 auto;
    text-align: center;
    flex: 1 1 250px;
}

.languages-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}

.progress-bar {
    width: 70%;
    background-color: #2b2b37;
    padding: 3px;
    border-radius: 15px;
    margin-bottom: 25px;
    height: 50px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    margin: 0 auto 25px;
    border: 2px solid #ff2e9f
}

.progress-bar-fill {
    display: block;
    height: 100%;
    background-color: #ff2e9f;
    border-radius: 15px;
}

.english { 
    width: 100%;
}
.spanish { 
    width: 60%; 
}

.school-table, th, td {
    border: 2px solid #ff2e9f;
}

.school-table {
    width: 90%;
    height: 300px;
    margin:0 auto;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.school-history {
    margin-top: 60px;
}

td:first-of-type {
    font-weight: bold;
}

.education {
    border: 4px solid #ff2e9f;
    border-style: double;
    border-radius: 8px;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 80px;
    overflow: hidden;
    text-align: center;
    padding: 30px;
}

.favourites-lists {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 120px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.favourites-lists h4 {
    text-decoration: underline;
    text-transform: uppercase;
}

.current-education {
    margin-top: 80px;
    margin-left: 140px;
    margin-right: 140px;
    border: 2px solid #ff2e9f;
    border-radius: 12px;
    padding: 20px 30px;
    margin-bottom: 80px;
}

.recent-destinations {
    margin-top: 60px;
}

.place {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.place img {
    width: 40%;
    object-fit: cover;
    border: 3px solid #ff2e9f;
    border-style:double;
    border-radius: 20px;
    max-height: 400px;
    max-width: 300px;
    margin-left: 30px;
}

.travel-info {
    text-align: left;
    flex: 1;
    margin-left: 30px;
}

.place:nth-of-type(even) {
    flex-direction: row-reverse;
    margin-left: 200px;
    margin-right: 200px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}