body {
    background-color: #e0ffff;
    color: navy;
    font-family: Garamond, serif;
}

h3 {
    background-color: blue;
    color: white;
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
}

p {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: #000080;
}

address {
    font-size: 110%;
}

blockquote {
    text-align: center;
    text-transform: capitalize;
}