/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: #3494E6;
  background: linear-gradient(to right, #EC6EAD, #3494E6);
}

a {
  color:white;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:1em 0em;
  display: inline-block;
  width: 100%;
  text-align: center;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

#container {
  margin: 0 auto;
  padding:2em;
}

article {
  background:rgba(255,255,255,0.7);
  padding: 1em;
}

/* Flex Container */
nav ul {
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 4;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
}

#nav.social {
  flex-grow: 1;
}





