table{
	width: 60%;
	margin: 5% auto;
	border-collapse: collapse;
}

th, td{
	border-left: 1px;
	border-right: 1px;
	padding: .4em;
	border-color: #336633;
}

thead{
	background-color: #339933;
	color: white;
}

tbody td{
	align-items: center;
}

tbody:nth-child(3){
	font-style: italic;
}

tbody tr:nth-of-type(even){
	background-color: #88ee88;
}

tbody tr:nth-of-type(odd){
	background-color: #99ff99;
}

tbody tr:hover{
	background-color: #336633;
}

thead, th{
	text-align: left;
}

tbody, th{
	text-align: left;
}
