body{
    background-color: #ffffe0;
    color: teal;
    font-family: Book Antiqua, serif;
}

h1,h2,h3{
    color: navy;
}

hr{
    background-color: navy;
    height: 6px;
    border: 0px;
}

a{
    font-weight: bold;
}

a:link {
    color: #0000cd;
}

a:visited{
    color: black;
}

a:hover{
    text-decoration: none;
}

a:active{
    color: aqua;
    background-color: navy;
}